<html>
<head>
<title>Blogs</title>
<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.3/semantic.min.css"/>
<style>
.container.main{
	margin-top: 7.0em;
	margin-bottom: 7.0em;
}
.ui menu{
	background-color: #232323;
}
</style>
</head>
<body>
<div class="ui fixed inverted menu">
<div class="ui container">
<div class="header item">
<a href="" class="item"><i class="add icon"></i>blogSite</a>
<a href="/login" class="item"><i class="blind icon"></i>logout</a>
<a href="/blogs/show" class="item"><i class="edit icon"></i>Home</a>

<a href="/blogs/new" class="item"><i class="edit icon"></i>newBlog</a>

</div>
</div>
</div>

