<% include ./partials/header %>
<div class="ui main text container segment">
<div class="ui huge header">register</div>
<form  class="ui form"action="/register" method="POST">
<div class="field">
<label>Name</label>
<input type="text" name="user[name]" placeholder="enter the name" required>
<label>User name</label>
<input type="text" name="user[username]" placeholder="enter your user name" required>
<div>
<label>email</label>
<input type="text" name="user[email]" placeholder="enter your email" required>
<div>
<label>Password</label>
<input type="text" name="user[password]" placeholder="enter the password" required>
<div>
<label>Phone number</label>
<input type="text" name="user[phone]" placeholder="enter the phone number" required>

<a class="ui basic big button" href="/login">login</a>
<input type="submit" class="ui secondry big button" value="Register">
</form>
</div>


<% include ./partials/footer %>